<html>
<head>
<title>Upload project configuration</title>
<meta name="decorator" content="atl.general"</meta>
</head>

<body>
	<div class="aui-page-panel">
		<div class="aui-page-panel-inner"/>
			<section class="aui-page-panel-content">
			<h2>Configure Project</h2>
			<h>Copy and paste the configuration file into the text box below</h>        
				<form method="post" action="ProjectConfigurator.jspa" name="submit" enctype="multipart/form-data">
            		<input type="file" name="fileField"><br /><br />
            		<input type="submit" name="submit" value="Submit">
        		</form>
			</section>
		</div>
	</div>
</body>
</html>