<html>
<head>
<title>Upload project configuration</title>
<meta name="decorator" content="atl.general"</meta>
</head>

<body>
	<div class="aui-page-panel">
		<div class="aui-page-panel-inner"/>
			<section class="aui-page-panel-content">
			<h2>Upload contract meta data</h2>
			<h>Copy and paste the configuration file into the text box below</h>        
				<form class="aui" action="$requestContext.baseUrl/secure/ProjectConfigurator.jspa" method="post">
					<div class="form-body">
						<script>
								var boxCount =0;
								var boxName = 0;
								function addInput()
								{
         								document.getElementById('demo').innerHTML+='<br/><textarea rows="20" cols="150" name="wfConfig"' + boxCount + 'id="wfConfig"' + boxCount + '></textarea>'
                                        + '<br>wfConfig' + boxCount + '</br>';
                                        boxCount = boxCount +1;
								}
						</script>
						<div class="field-group" id="demo">
							<label for="xmlConfig">Field, Screen and Schemes</label>
							<textarea rows="30" cols="150" name="xmlConfig" id="xmlConfig"></textarea>
							<div class="description">Enter an xml configuration file</div>
						</div>
						<button type="button" class="aui-button aui-button-primary" onclick="addInput()">Add Workflow Definition.</button>
						<div class="buttons-container form-footer">
					<button class="aui-button aui-button-primary">Validate input</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</body>
</html>