<html>
<head>
<title>Delete issues</title>
<meta name="decorator" content="atl.general"</meta>
</head>
<body>
	<div class="aui-page-panel">
		<div class="aui-page-panel-inner"/>
			<section class="aui-page-panel-content">
			<h2>Batch Delete Issues for project $projectKey</h2>
				<form class="aui" action="$requestContext.baseUrl/secure/IssueDeletor.jspa" method="get">
					<div class="buttons-container form-footer">
						<button class="aui-button aui-button-primary">Delete</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</body>
</html>