<html>
<head>
<title>Delete Issues</title>
<meta name="decorator" content="atl.general"</meta>
</head>
<body>
	<div class="aui-page-panel">
		<div class="aui-page-panel-inner"/>
			<section class="aui-page-panel-content">
			<h2>Deleted issues for project $projectKey:</h2>
				#foreach($key in $issueKeys)
					<p>$key</p>
				#end
			</section>
		</div>
	</div>
</body>
</html>