<html>
<head>
<title>MTC Urlaubs&uuml;ersicht</title>
<meta name="decorator" content="atl.general"</meta>
</head>
<body>
	<div class="aui-page-panel">
		<div class="aui-page-panel-inner"/>
			<section class="aui-page-panel-content">
				<h2>Urlaubstage $currentYear f&uuml;r $user.getDisplayName()</h2>
				<table class="aui" align="center">
					<thead>
						<tr>
							<th>Issue</th>
							<th>Start</th>
							<th>Ende</th>
							<th>Typ</th>
							<th>Arbeitstage</th>
						</tr>
					</thead>
					<tbody>
						#foreach($vacation in $vacations)
						<tr>
							<td><a href="$vacation.getIssueLink()">$vacation.getIssue().getKey()</a></td>
							<td>$vacation.getDisplayStartDate()</td>
							<td>$vacation.getDisplayEndDate()</td>
							<td>$vacation.getType()</td>
							<td style="align:right;">$vacation.getNumberOfWorkingDays()</td>
						</tr>
					</tbody>
					#end
				</table>
				<br>
				<h2>Zusammenfassung</h2>
				<table class="aui">
					<tbody>
						#set($rest = $annualLeave - $sum)
						<tr>
							<td>Jahresurlaub $currentYear:</td>
							<td align="right">$annualLeave</td>
						</tr>
						<tr>
							<td>Urlaubstage insgesamt:</td>
							<td align="right">$sum</td>
						</tr>
						<tr>
							<td>Restliche Urlaubstage $currentYear:</td>
							<td style="align:right;">$rest</td>
						</tr>
					</tbody>
				</table>
				
				<h2>Krankheitstage $currentYear f&uuml;r $user.getDisplayName()</h2>
				
				<table class="aui" align="center">
					<thead>
						<tr>
							<th>Issue</th>
							<th>Start</th>
							<th>Ende</th>
							<th>Typ</th>
							<th>Arbeitstage</th>
						</tr>
					</thead>
					<tbody>
						#foreach($sickness in $sicknesses)
						<tr>
							<td><a href="$vacation.getIssueLink()">$sickness.getIssue().getKey()</a></td>
							<td>$sickness.getDisplayStartDate()</td>
							<td>$sickness.getDisplayEndDate()</td>
							<td>$sickness.getType()</td>
							<td style="align:right;">$sickness.getNumberOfWorkingDays()</td>
						</tr>
					</tbody>
					#end
				</table>
				<br>
				<p>Query: $queryString</p>				
			</section>
		</div>
	</div>
</body>
</html>
