h2. Urlaub bestätigt

#set($previous2 = $previous + $wanted)
#set($rest2 = $rest - $wanted)
* Beantragt: $wanted Tage
* Urlaubstage $currentYear: $previous2
* Restliche Urlaubstage $currentYear: $rest2

[Übersicht über die Urlaubstage $currentYear|$vacationwatcher]
