h1. Urlaub bestätigt
h2. Übersicht Urlaubstage $currentYear
||Issue||Von||Bis||Typ||Tage||
#foreach($entry in $vacations) 
	|$entry.issueKey|$entry.startDate|$entry.endDate|$entry.type|$entry.numberOfWorkingDays|
#end
|*$vacation.issueKey*|*$vacation.startDate*|*$vacation.endDate*|*$vacation.type*|*$vacation.numberOfWorkingDays*|
h2. Beantragt
|Bisherige Urlaubstage $currentYear|$previous|
|Restliche Urlaubstage $currentYear|$rest|