h2. Urlaub beantragt

* Beantragt: $wanted Tage
* Bisherige Urlaubstage $currentYear: $previous
* Restliche Urlaubstage $currentYear: $rest (-$wanted)

[Übersicht über die Urlaubstage $currentYear|$vacationwatcher]

